@model IEnumerable<CourierTrackingAndDeliverySystem.Models.Package>

@{
    ViewData["Title"] = "Package List";
}

<h2>Packages</h2>
@if(User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-primary">Create New Package</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Tracking Number</th>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var package in Model)
        {
            <tr>
                <td>@package.TrackingNumber</td>
                <td>@package.SenderName</td>
                <td>@package.ReceiverName</td>
                <td>@package.CurrentStatus</td>
                <td>
                    <a asp-action="UpdateStatus" asp-route-id="@package.PackageId" class="btn btn-info">Update Status</a>
                </td>
            </tr>
        }
    </tbody>
</table>
